asgiref==3.12.1
charset-normalizer==3.4.9
dj-database-url==3.1.2
Django==5.2.16
gunicorn==26.0.0
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
pypdf==6.14.2
python-dotenv==1.2.2
reportlab==5.0.0
sqlparse==0.5.5
tzdata==2026.3
whitenoise==6.12.0
